@media screen and (min-width : 1480px) and (max-width : 2500px){
    //article first
.gallery_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: black;
}
.gallery{
    width: 25%;
    height: 100%;
    margin: 0px;
}
.gallery_icon_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}
.gallery_icon_div{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
}
.gallery_icon{
    display: block;
    width: 25%;
    height: 100%;
    margin: 0px; 
    padding: 5px;
    border: 1px solid rgb(230, 203, 86); 
}
.gallery_icon_p1{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
    margin: 20px;
}
.gallery_icon_p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 90%; 
    color: oldlace;
    margin: 0px;
}
.together{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin: 0px;
}
.gallery_block2{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;

}
.gallery_icon_block{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba($color: #0e0d0d, $alpha: 0.8);
    color: rgb(230, 203, 86); 
}
//article two
.gallery_black_fon{
    background:url("img/about.jpg") 0% 0% no-repeat,
     url("img/bg_4.jpg") 50% 50% no-repeat;
    background-size: 28%, cover;
    padding-top: 15px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.gallery_black_menu{
    width: 40%;
}
.gallery_black_menu > input{
        width: 80px;
        height: 35px;
        background-color:transparent;
        color: rgb(230, 203, 86);
        border-color:  rgb(230, 203, 86);
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .gallery_black_menu > input:hover{
        width: 80px;
        height: 35px;
        background-color:rgb(230, 203, 86);
        color: rgb(8, 8, 7);
        border-color:  rgb(230, 203, 86);
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.gallery_black_menu2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end; 
}
.gallery_black_pizza{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 10px;
}
.gallery_black_pizza > img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
}
.gallery_black_pizza > h3 {
   color: oldlace;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery_black_pizza > p:first-of-type {
    color: oldlace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .gallery_black_price{
   color: rgb(230, 203, 86);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: medium;  
 }
 .gallery_black_pizza > input{
    width: 90px;
    height: 30px;
    background-color:transparent;
    color: oldlace;
    border-color:  oldlace;
    margin: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery_black_pizza > input:hover{
    width: 90px;
    height: 30px;
    background-color:rgb(230, 203, 86);
    color: rgb(8, 8, 7);
    border-color:  oldlace;
    margin: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
@media screen and (min-width : 1024px) and (max-width : 1480px){
    //article first
.gallery_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: black;
}
.gallery{
    width: 25%;
    height: 100%;
    margin: 0px;
}
.gallery_icon_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}
.gallery_icon_div{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
}
.gallery_icon{
    display: block;
    width: 25%;
    height: 100%;
    margin: 0px; 
    padding: 5px;
    border: 1px solid rgb(230, 203, 86); 
}
.gallery_icon_p1{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
    margin: 20px;
}
.gallery_icon_p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 90%; 
    color: oldlace;
    margin: 0px;
}
.together{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin: 0px;
}
.gallery_block2{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;

}
.gallery_icon_block{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba($color: #0e0d0d, $alpha: 0.8);
    color: rgb(230, 203, 86); 
}
//article two
.gallery_black_fon{
    background:url("img/about.jpg") 0% 0% no-repeat,
     url("img/bg_4.jpg") 50% 50% no-repeat;
    background-size: 28%, cover;
    padding-top: 15px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.gallery_black_menu{
    width: 40%;
}
.gallery_black_menu > input{
        width: 80px;
        height: 35px;
        background-color:transparent;
        color: rgb(230, 203, 86);
        border-color:  rgb(230, 203, 86);
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .gallery_black_menu > input:hover{
        width: 80px;
        height: 35px;
        background-color:rgb(230, 203, 86);
        color: rgb(8, 8, 7);
        border-color:  rgb(230, 203, 86);
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.gallery_black_menu2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end; 
}
.gallery_black_pizza{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 10px;
}
.gallery_black_pizza > img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
}
.gallery_black_pizza > h3 {
   color: oldlace;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery_black_pizza > p:first-of-type {
   display: none;
 }
 .gallery_black_price{
   color: rgb(230, 203, 86);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: medium;  
 }
 .gallery_black_pizza > input{
    width: 90px;
    height: 30px;
    background-color:transparent;
    color: oldlace;
    border-color:  oldlace;
    margin: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery_black_pizza > input:hover{
    width: 90px;
    height: 30px;
    background-color:rgb(230, 203, 86);
    color: rgb(8, 8, 7);
    border-color:  oldlace;
    margin: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
@media screen and (min-width : 768px) and (max-width : 1024px){
       //article first
.gallery_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: black;
}
.gallery{
    width: 25%;
    height: 100%;
    margin: 0px;
}
.gallery_icon_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}
.gallery_icon_div{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
}
.gallery_icon{
    display: block;
    width: 25%;
    height: 100%;
    margin: 0px; 
    padding: 5px;
    border: 1px solid rgb(230, 203, 86); 
}
.gallery_icon_p1{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
    margin: 20px;
}
.gallery_icon_p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 90%; 
    color: oldlace;
    margin: 0px;
}
.together{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin: 0px;
}
.gallery_block2{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;

}
.gallery_icon_block{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba($color: #0e0d0d, $alpha: 0.8);
    color: rgb(230, 203, 86); 
}
//article two
.gallery_black_fon{
    background: url("img/bg_4.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.gallery_black_menu{
    width: 85%;
}
.gallery_black_menu > input{
        width: 80px;
        height: 35px;
        background-color:transparent;
        color: rgb(230, 203, 86);
        border-color:  rgb(230, 203, 86);
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .gallery_black_menu > input:hover{
        width: 80px;
        height: 35px;
        background-color:rgb(230, 203, 86);
        color: rgb(8, 8, 7);
        border-color:  rgb(230, 203, 86);
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.gallery_black_menu2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end; 
}
.gallery_black_pizza{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 10px;
}
.gallery_black_pizza > img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
}
.gallery_black_pizza > h3 {
   color: oldlace;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery_black_pizza > p:first-of-type {
   display: none;
 }
 .gallery_black_price{
   color: rgb(230, 203, 86);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: medium;  
 }
 .gallery_black_pizza > input{
    width: 90px;
    height: 30px;
    background-color:transparent;
    color: oldlace;
    border-color:  oldlace;
    margin: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery_black_pizza > input:hover{
    width: 90px;
    height: 30px;
    background-color:rgb(230, 203, 86);
    color: rgb(8, 8, 7);
    border-color:  oldlace;
    margin: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
@media screen and (min-width : 480px) and (max-width : 768px){  
     //article first
    .gallery_block{
       display: none;
    }
    .gallery{
        width: 25%;
        height: 100%;
        margin: 0px;
    }
    .gallery_icon_block{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
    }
    .gallery_icon_div{
        width: 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center; 
    }
    .gallery_icon{
        display: block;
        width: 25%;
        height: 100%;
        margin: 0px; 
        padding: 5px;
        border: 1px solid rgb(230, 203, 86); 
    }
    .gallery_icon_p1{
        font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
        font-size: 110%;
        margin: 20px;
    }
    .gallery_icon_p2{
    display: none;
    }
    .together{
        height: 240px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        margin: 0px;
    }
    .gallery_block2{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
    
    }
    .gallery_icon_block{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgba($color: #0e0d0d, $alpha: 0.8);
        color: rgb(230, 203, 86); 
    }
    //article two
    .gallery_black_fon{
        background: url("img/bg_4.jpg") 50% 50% no-repeat;
        background-size: cover;
        padding-top: 10px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
    .gallery_black_menu{
        width: 85%;
    }
    .gallery_black_menu > input{
            width: 80px;
            height: 35px;
            background-color:transparent;
            color: rgb(230, 203, 86);
            border-color:  rgb(230, 203, 86);
            margin-bottom: 20px;
            margin-left: 5px;
            font-size: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .gallery_black_menu > input:hover{
            width: 80px;
            height: 35px;
            background-color:rgb(230, 203, 86);
            color: rgb(8, 8, 7);
            border-color:  rgb(230, 203, 86);
            margin-bottom: 20px;
            margin-left: 5px;
            font-size: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    .gallery_black_menu2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: flex-end; 
    }
    .gallery_black_pizza{
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        margin: 10px;
    }
    .gallery_black_pizza > img {
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
    .gallery_black_pizza > h3 {
        margin: 5px;
       color: oldlace;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       text-align: center;
       font-size: medium;
    }
    .gallery_black_pizza > p:first-of-type {
       display: none;
     }
     .gallery_black_price{
       color: rgb(230, 203, 86);
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: medium;  
       margin: 5px;
     }
     .gallery_black_pizza > input{
        width: 90px;
        height: 30px;
        background-color:transparent;
        color: oldlace;
        border-color:  oldlace;
        margin: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .gallery_black_pizza > input:hover{
        width: 90px;
        height: 30px;
        background-color:rgb(230, 203, 86);
        color: rgb(8, 8, 7);
        border-color:  oldlace;
        margin: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
@media screen and (min-width : 320px) and (max-width : 480px){
    //article first
    .gallery_block{
        display: none;
     }
     .gallery{
         width: 25%;
         height: 100%;
         margin: 0px;
     }
     .gallery_icon_block{
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: center; 
         align-items: center; 
     }
     .gallery_icon_div{
         width: 20%;
         display: flex;
         flex-direction: column;
         justify-content: space-around; 
         align-items: center; 
     }
     .gallery_icon{
         display: block;
         width: 50%;
         height: 100%;
         margin: 0px; 
         padding: 5px;
         border: 1px solid rgb(230, 203, 86); 
     }
     .gallery_icon_p1{
         font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
         font-size: 110%;
         margin: 20px;
     }
     .gallery_icon_p2{
     display: none;
     }
     .together{
         height: 240px;
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 100%;
         margin: 0px;
     }
     .gallery_block2{
         grid-column: 1/2;
         grid-row: 1/2;
         width: 100%;
         height: 100%;
     
     }
     .gallery_icon_block{
         grid-column: 1/2;
         grid-row: 1/2;
         background-color: rgba($color: #0e0d0d, $alpha: 0.8);
         color: rgb(230, 203, 86); 
     }
     //article two
     .gallery_black_fon{
         background: url("img/bg_4.jpg") 50% 50% no-repeat;
         background-size: cover;
         padding-top: 10px;
         padding-bottom: 25px;
         display: flex;
         flex-direction: column;
         justify-content: center; 
         align-items: center; 
     }
     .gallery_black_menu{
         width: 85%;
     }
     .gallery_black_menu > input{
             width: 60px;
             height: 25px;
             background-color:transparent;
             color: rgb(230, 203, 86);
             border-color:  rgb(230, 203, 86);
             margin-bottom: 20px;
             margin-left: 5px;
             font-size: 15px;
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         }
         .gallery_black_menu > input:hover{
             width: 60px;
             height: 25px;
             background-color:rgb(230, 203, 86);
             color: rgb(8, 8, 7);
             border-color:  rgb(230, 203, 86);
             margin-bottom: 20px;
             margin-left: 5px;
             font-size: 15px;
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         }
     .gallery_black_menu2{
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: center; 
         align-items: flex-end; 
     }
     .gallery_black_pizza{
         width: 23%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start; 
         align-items: center;
         margin: 10px;
     }
     .gallery_black_pizza > img {
         width: 60%;
         height: 60%;
         border-radius: 50%;
     }
     .gallery_black_pizza > h3 {
         margin: 5px;
        color: oldlace;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-size: medium;
     }
     .gallery_black_pizza > p:first-of-type {
        display: none;
      }
      .gallery_black_price{
        color: rgb(230, 203, 86);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;  
        margin: 5px;
      }
      .gallery_black_pizza > input{
         width: 60px;
         height: 25px;
         background-color:transparent;
         color: oldlace;
         border-color:  oldlace;
         margin: 10px;
         font-size: 10px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
     .gallery_black_pizza > input:hover{
         width: 60px;
         height: 25px;
         background-color:rgb(230, 203, 86);
         color: rgb(8, 8, 7);
         border-color:  oldlace;
         margin: 10px;
         font-size: 10px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     } 
}


